<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MotocrossContainer" connectionString="metadata=res://*/Motocross.csdl|res://*/Motocross.ssdl|res://*/Motocross.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SCOTT-LAPTOP;Initial Catalog=AdventureWorks;User ID=sa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>